<section id="contactos">
  <div class="container">

    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-8">
        <img class="img-responsive" ng-src="/images/mapa.png">
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-lg-4">
        <h4> Datas e Horários: </h4>
        <p> 26, 27 e 28 de Junho de 2014<br>
            A partir das 19h. Desfiles às 20h30<br>
        </p>
      </div>

      <div class="col-md-4 col-lg-4">
        <h4> Local: </h4>
        <p> Centro Cultural Paz Flor, Luanda </p>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-8">
        <h4> Convites brevemente disponíveis no seguintes locais: </h4>
            <ul class="list-unstyled visible-xs">
              <li>BELAS SHOPPING TALATONA</li>
              <li>EMIRAIS SPA</li>
              <li>PISCINAS DO ALVALADE</li>
              <li>CLINICA AFRODENTE</li>
              <li>BRINQUEDÓTECA TALATONA</li>
              <li>HADJA MODELS</li>
              <li>BOUTIQUE MISS ANGAS(Talatona)</li>
              <li>RMS (Belas Shopping)</li>
            </ul>

          <div class="row hidden-xs">

            <div class="col-xs-6">
              <ul>
                <li>BELAS SHOPPING TALATONA</li>
                <li>EMIRAIS SPA</li>
                <li>PISCINAS DO ALVALADE</li>
                <li>CLINICA AFRODENTE</li>
              </ul>
            </div>

            <div class="col-xs-6">
              <ul>
                <li>BRINQUEDÓTECA TALATONA</li>
                <li>HADJA MODELS</li>
                <li>BOUTIQUE MISS ANGAS(Talatona)</li>
                <li>RMS (Belas Shopping)</li>
              </ul>
            </div>

          </div>
      </div>
    </div>

    </div>
  </div>
</section>
