<section id="home">

    <div class="row">

      <div class="col-sm-11 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-4 col-lg-offset-3">
        <img class="img-responsive" src="/images/logo_home.png"/>
      </div>

    </div>

</section>
