<section id="modelos">
  <div class="container">

    <div ng-repeat="modelo in modelos" class="hidden-sm">
      <span ng-if="$index % 3 == 0">
        <div class="row">
          <div ng-if="modelos[$index+0]" class="col-xs-12 col-md-3 col-lg-3">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{modelos[$index+0].nome}}" ng-src="/images/modelos/{{modelos[$index+0].foto}}_texto.png">
                  <img class="front" alt="{{modelos[$index+0].nome}}" ng-src="/images/modelos/{{modelos[$index+0].foto}}.png">
              </div>

            </div>

          </div>

          <div ng-if="modelos[$index+1]" class="col-xs-12 col-md-3 col-lg-3">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{modelos[$index+1].nome}}" ng-src="/images/modelos/{{modelos[$index+1].foto}}_texto.png">
                  <img class="front" alt="{{modelos[$index+1].nome}}" ng-src="/images/modelos/{{modelos[$index+1].foto}}.png">
              </div>

            </div>

          </div>

          <div ng-if="modelos[$index+2]" class="col-xs-12 col-md-3 col-lg-3">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{modelos[$index+2].nome}}" ng-src="/images/modelos/{{modelos[$index+2].foto}}_texto.png">
                  <img class="front" alt="{{modelos[$index+2].nome}}" ng-src="/images/modelos/{{modelos[$index+2].foto}}.png">
              </div>

            </div>

          </div>
        </div>
      </span>
    </div>

    <div ng-repeat="modelo in modelos" class="visible-sm">
      <span ng-if="$index % 2 == 0">
        <div class="row">
          <div ng-if="modelos[$index+0]" class="col-sm-4">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{modelos[$index+0].nome}}" ng-src="/images/modelos/{{modelos[$index+0].foto}}_texto.png">
                  <img class="front" alt="{{modelos[$index+0].nome}}" ng-src="/images/modelos/{{modelos[$index+0].foto}}.png">
              </div>

            </div>

          </div>

          <div ng-if="modelos[$index+1]" class="col-sm-4">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{modelos[$index+1].nome}}" ng-src="/images/modelos/{{modelos[$index+1].foto}}_texto.png">
                  <img class="front" alt="{{modelos[$index+1].nome}}" ng-src="/images/modelos/{{modelos[$index+1].foto}}.png">
              </div>

            </div>

          </div>

        </div>
      </span>
    </div>


  </div>
<section>
