<section id="programa">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <a ui-sref="26jun"><img class="img-responsive" src="/images/26jun.png" /></a>
      </div>

      <div class="col-xs-12 col-sm-3">
        <a ui-sref="27jun"><img class="img-responsive" src="/images/27jun.png" /></a>
      </div>

      <div class="col-xs-12 col-sm-3">
        <a ui-sref="28jun"><img class="img-responsive" src="/images/28jun.png" /></a>
      </div>
    </div>

  </div>

</section>
