<section id="sobre">

  <div class="row">
    <div class="container">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <div class="row">
              <div class="col-xs-12">
                <img class="img-responsive" src="/images/sobre.jpg"/>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <img class="img-responsive assinatura" src="/images/emiliamorais.png"/>
            </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <h1> O ANGOLA FASHION<br> WEEK ESTÁ DE VOLTA! </h1>
        <p>
          Regressamos com mais uma edição do AFW, este ano inspirado no Diamante Angolano, símbolo da riqueza e glamour de Angola e expressão da criatividade das
          nossas gentes.<br><br>

          O reencontro está marcado para os dias 26, 27 e 28 de Junho, no Centro Cultural Paz Flor, onde serão apresentadas as colecções Primavera/Verão 2015.<br><br>

          Esta edição marca ainda o 15º aniversário deste evento pelo que será a maior e mais mediática de sempre, com a presença confirmada de prestigiados estilistas e modelos de renome internacional.<br><br>

          Mais uma vez iremos celebrar a beleza, o empreendedorismo e a cultura popular angolana numa enorme passarela que fará parte do calendário internacional de moda, levando o nosso país além-fronteiras.
        </p>
      </div>
    </div>
  </div>

</section>
