<section id="sponsors">
  <div class="container">

    <div ng-repeat="sponsor in sponsors" class="hidden-sm">
      <span ng-if="$index % 3 == 0">
        <div class="row">
          <div ng-if="sponsors[$index+0]" class="col-lg-3 col-md-3 col-xs-12">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{sponsors[$index+0].nome}}" ng-src="/images/sponsors/{{sponsors[$index+0].foto}}_texto.png">
                  <img class="front" alt="{{sponsors[$index+0].nome}}" ng-src="/images/sponsors/{{sponsors[$index+0].foto}}.png">
              </div>

            </div>

          </div>

          <div ng-if="sponsors[$index+1]" class="col-lg-3 col-md-3 col-xs-12">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{sponsors[$index+1].nome}}" ng-src="/images/sponsors/{{sponsors[$index+1].foto}}_texto.png">
                  <img class="front" alt="{{sponsors[$index+1].nome}}" ng-src="/images/sponsors/{{sponsors[$index+1].foto}}.png">
              </div>

            </div>

          </div>

          <div ng-if="sponsors[$index+2]" class="col-lg-3 col-md-3 col-xs-12">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{sponsors[$index+2].nome}}" ng-src="/images/sponsors/{{sponsors[$index+2].foto}}_texto.png">
                  <img class="front" alt="{{sponsors[$index+2].nome}}" ng-src="/images/sponsors/{{sponsors[$index+2].foto}}.png">
              </div>

            </div>

          </div>
        </div>
      </span>
    </div>

    <div ng-repeat="sponsor in sponsors" class="visible-sm">
      <span ng-if="$index % 2 == 0">
        <div class="row">
          <div ng-if="sponsors[$index+0]" class="col-sm-4">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{sponsors[$index+0].nome}}" ng-src="/images/sponsors/{{sponsors[$index+0].foto}}_texto.png">
                  <img class="front" alt="{{sponsors[$index+0].nome}}" ng-src="/images/sponsors/{{sponsors[$index+0].foto}}.png">
              </div>

            </div>

          </div>

          <div ng-if="sponsors[$index+1]" class="col-sm-4">
            <div class="molduraWrapper"
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false">

              <div class="moldura" ng-class="{'flipped': showText}">
                  <img class="back" alt="{{sponsors[$index+1].nome}}" ng-src="/images/sponsors/{{sponsors[$index+1].foto}}_texto.png">
                  <img class="front" alt="{{sponsors[$index+1].nome}}" ng-src="/images/sponsors/{{sponsors[$index+1].foto}}.png">
              </div>

            </div>

          </div>

        </div>
      </span>
    </div>

  </div>
</section>
