<section id="home">

    <div class="row">

      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-1">
        <figure class="video-frame">
            <iframe width="560" height="315" src="//www.youtube.com/embed/3hsHZ4RHEcE?rel=0&autoplay=1&modestbranding=0&showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
            <a ui-sref="home"><i class="ion-ios7-close-empty"></i></a>
        </figure>
      </div>

    </div>

</section>
