/*

  Base or default styles

*/

@import url("//fnt.webink.com/wfs/webink.css/?project=0E2EC693-E81D-4BF8-A914-548DE9E8FDBE&fonts=D376B979-5C7B-4FF6-C871-2AE4B732808F:f=Omnes-Regular,0353EC0E-4A08-08E5-FF7C-1BBBA4B03612:f=Omnes-Semibold,68BA7BA4-7EA0-0F9F-3565-85BD5D26BD89:f=Omnes-Light,3C5F9FB7-D51B-747F-46D8-8909505C6C7D:f=Omnes-MediumItalic,8015D851-7B30-B41D-5830-0D52DAB880E4:f=Omnes-LightItalic,DBD78E84-E1B2-B7B7-3F11-11D0B4343678:f=Omnes-HairlineItalic,8F52F116-ACEC-9B85-851D-07EB76A8776C:f=Omnes-Thin,74646DE4-DE12-DF84-D708-4922FA120FDA:f=Omnes-RegularItalic,2344B26F-135F-D7C4-1EDB-D1797DC51D98:f=Omnes-BlackItalic,7A4D4935-2117-9F11-9150-AB5FA4942F3F:f=Omnes-Bold,D49BE625-029A-955D-F80C-26BEFCEC0048:f=Omnes-ThinItalic,58596157-F0DE-66EF-9686-63B0298473DF:f=Omnes-BoldItalic,247E892D-47F0-FBA0-151E-A77E883A4971:f=Omnes-Hairline,8A6F3EF5-9CAC-021A-7949-83D7C2336C6B:f=Omnes-ExtraLight,E55C8ADC-2717-AC4D-5BA1-0218702F061A:f=Omnes-SemiboldItalic,B897664A-488A-3702-EF63-C4CE5D14BF1B:f=Omnes-Medium,AF8CC69D-4FD6-D9FC-6C21-45DCAB4BCCA6:f=Omnes-Black,05E77A7A-2BD8-178A-73C6-3E74C96FB3CF:f=Omnes-ExtraLightItalic");

$base_font: 'Omnes Regular', 'Omnes-Regular';
$light_font: 'Omnes ExtraLight', 'Omnes-ExtraLight';
$bold_font: 'Omnes Bold', 'Omnes-Bold';
$orange: #cd4934;

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: $light_font;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  @media (min-width: $screen-sm-min) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

h1.local {
  color: white;
  font-family: $light_font;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

h2.locais-venda {
  color: white;
  font-size: 16px;
  padding-left: 5px;
  font-weight: bold;
  margin-top: 25px;
}

h3 {
  color: white;
  font-size: 12px;
}

ul {
  color: white;
  margin-left: 5px;
  font-size: 14px;
}
