/*

    Layout (Position, etc)

*/

slide {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

#nav-container {
  position: fixed;
  overflow: hidden;
  width: 20%;
  height: 100%;
  padding-top: 0px;
  /* Small Devices, Tablets */
  @media (min-width: $screen-sm-min) {
    padding-top: 0px;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    padding-top: 0px;
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
    padding-top: 0px;
  }
  @media screen and (min-width: $screen-lg-min) and (min-height: 900px) {
    padding-top: 70px;
  }

}

.logo-container {
  @include make-lg-column(12);
}

#main-page {
  padding-left: 0;
  padding-top: 10px;
  /* Small Devices, Tablets */
  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
    padding-left: 20%;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    padding-top: 50px;
    padding-left: 20%;
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
    padding-top: 40px;
    padding-left: 20%;
  }
  @media screen and (min-width: $screen-lg-min) and (min-height: 900px) {
    padding-top: 110px;
    padding-left: 20%;
  }

}

article {
  margin-top: 40px;
}

#sobre {
  color: $orange;
  h1 {
    font-family: $light_font;
    font-size: 44px;
    margin-top: 0px;
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
     font-size: 46px;
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
     font-size: 58px;
    }
  }
  p {
    font-size: 18px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      font-size: 18px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      font-size: 20px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      font-size: 20px;
      padding-right: 10px;
    }
  }
  .assinatura {
    padding-top: 20px;
  }
}



#programa {
  .col-sm-3 {
    padding-left: 1px;
    padding-right: 1px;
  }
  .row:first-child {
    margin-left: -1px;
    margin-right: -1px;
  }
}

#programas {
  font-size: 22px;
  color: white;
  .dl-horizontal {
    dt {
      width: 85px;
    }
    dd {
      margin-left: 100px;
    }
  }
}

#modelos {
  .row {
    margin-left: 15px;
    margin-right: 15px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      margin-left: -1px;
      margin-right: -1px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      margin-left: -15px;
      margin-right: -110px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      margin-left: -1px;
      margin-right: -1px;
    }
  }
}

#sponsors {
  .row {
    margin-left: 15px;
    margin-right: 15px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      margin-left: -1px;
      margin-right: -1px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      margin-left: -15px;
      margin-right: -110px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      margin-left: -1px;
      margin-right: -1px;
    }
  }
  .logo-grid {
    @include make-lg-column(3);
  }
}


#contactos {
  color: white;
  .row:first-child {
    margin-bottom: 10px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      margin-bottom: 15px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      margin-bottom: 15px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      margin-bottom: 20px;
    }
  }
}

.brand {
  img {
    margin-top: 50px;
    padding-left: 35%;
    margin-bottom: 20px;
    text-align: right;
  }
}

.navbar-mobile {
  background-color: black;
  border-bottom: 1px solid $orange;
  .navbar-brand {
    @include size(103px, 40px);
    background: url('/images/afw_mobile.png') no-repeat center;
    margin-top: 9px;
    margin-left: 10px;
  }
  .navbar-nav {
    li {
      a {
        color: white;
        &:hover {
          background-color: transparent;
          color: white;
        }
      }
    }
  }
}

.video-frame {
  iframe {
    border: 2px solid $orange;
    z-index: 99999;
  }
}
