/*

    Reusable components (buttons, etc)

*/

.logotipos img {
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}

.ion-ios7-arrow-left {
  color: white;
  font-size: 3.5em;
  padding-top: 250px;
  &:hover {
      color: $orange;
  }
}

.molduraWrapper {
  @include size(226px, 185px);

  @media (min-width: $screen-sm-min) {
    @include size(246px, 205px);
  }

  @media (min-width: $screen-md-min) {
    @include size(266px, 225px);
  }

  @media (min-width: $screen-lg-min) {
    @include size(286px, 245px);
  }
  position: relative;
   -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.moldura {
  width: 100%;
  height: 100%;
  @include transition-property (transform);
  @include transition-duration(1.0s);
   -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
   &.flipped {
     @include transform(rotateY(180deg));
    .back {
      z-index: 101;
    }
  }
  & img, div {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .back {
    background: black;
    @include transform(rotateY(180deg));
  }
}


.fa-bars {
  color: $orange;
  font-size: 18px;
}

.ion-ios7-close-empty {
  font-size: 2.5em;
  color: $orange;
  opacity: .9;
  position: absolute;
  z-index: 99999;
  top: 0px;
  right: 25px;
  @media (min-width: $screen-sm-min) {
    font-size: 3em;
    top: -5px;
    right: 28px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 3em;
    top: 0px;
    right: 25px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 3em;
    top: 0px;
    right: 25px;
  }
  &:hover {
    opacity: 1;
  }
}
