/*

    States of the components (:active, :hover, etc)

*/

#slideshow-none {
   background: black no-repeat center center fixed;
}

#slideshow-one {
  background: url(/images/00.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition:  all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  opacity: 1;

    &.ng-enter {
      opacity: 0;
    }

    &.ng-enter-active {
      opacity: 1;
    }

    &.ng-leave {
      opacity: 1;
    }

    .ng-leave-active {
      opacity: 0;
    }
}

  #slideshow-two {
     @extend #slideshow-one;
      background: url(/images/01.jpg) no-repeat center center fixed;
  }

  #slideshow-three {
    @extend #slideshow-one;
     background: url(/images/02.jpg) no-repeat center center fixed;
  }

  #slideshow-four {
    @extend #slideshow-one;
     background: url(/images/03.jpg) no-repeat center center fixed;
  }

  #slideshow-five {
    @extend #slideshow-one;
     background: url(/images/04.jpg) no-repeat center center fixed;
  }

  #slideshow-six {
    @extend #slideshow-one;
     background: url(/images/05.jpg) no-repeat center center fixed;
  }

  #slideshow-seven {
    @extend #slideshow-one;
     background: url(/images/06.jpg) no-repeat center center fixed;
  }

  #slideshow-eight {
    @extend #slideshow-one;
     background: url(/images/07.jpg) no-repeat center center fixed;
  }

  #slideshow-nine {
    @extend #slideshow-one;
     background: url(/images/08.jpg) no-repeat center center fixed;
  }

  #slideshow-ten {
    @extend #slideshow-one;
     background: url(/images/09.jpg) no-repeat center center fixed;
  }


#programa {
  img {
    @include opacity(.8);
    &:hover {
      @include opacity(100);
    }
  }
}
