/*

  Theme Styles

*/

.menu {
  ul {
    a {
        color: white;
        font-size: 20px;
        @include opacity(.8);
        &:hover {
          text-decoration: none;
          color: $orange;
          @include opacity(100);
        }
      }
  }
}

.logos-menu {
  text-align: right;
  i {
    color: white;
    font-size: 24px;
    padding-top: 10px;
    &:hover {
      color: $orange;
    }
  }
}
