  <ul class="list-unstyled text-right">
    <li ng-class="{ active: isActive('/home')}"><a  href="/sobre">SOBRE</a></li>
    <li ng-class="{ active: isActive('/programa')}"><a  href="/programa">PROGRAMA</a></li>
    <!-- <li ng-class="{ active: isActive('/designers')}"><a href="/criadores">CRIADORES</a></li> -->
    <li ng-class="{ active: isActive('/modelos')}"><a href="/modelos">MODELOS</a></li>
    <li ng-class="{ active: isActive('/sponsors')}"><a href="/sponsors">SPONSORS</a></li>
    <li ng-class="{ active: isActive('/mediapartners')}"><a href="/mediapartners">MEDIA PARTNERS</a></li><br>
    <li ng-class="{ active: isActive('/contactos')}"><a href="/contactos">CONTACTOS</a></li>
  </ul>
