<section id="programas">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

          <dl class="dl-horizontal">
          <dt>18H00 |</dt>
          <dd>Abertura Oficial AFW 14 | Espaço Paz e Flor</dd><br>
          <dt>19H10 |</dt>
          <dd>Visitação Lounges | Espaço Fashion</dd><br>
          <dt>19H50 |</dt>
          <dd>Abertura Sala de Desfiles</dd><br>
          <dt>20H00 |</dt>
          <dd>
            <ul class="list-unstyled">
              <li>Dressatation by Blumarine</li>
              <li>Misand</li>
              <li>Benetton</li>
              <li>Melimar</li>
              <li>Le Chic</li>
              <li>Bubbles</li>
            </ul>
          </dd><br>
          <dt>20H45 |</dt>
          <dd>Intervalo – Fashion Music</dd><br>
          <dt>21H15 |</dt>
          <dd>
            <ul class="list-unstyled">
              <li>Closet</li>
              <li>Fashion Place (Huambo)</li>
              <li>Boutique Helia By Helia Lengue</li>
              <li>RBS</li>
              <li>Meche Correa (Peru) </li>
            </ul>
          </dd>
          </dl>

      </div>
      <div class="col-sm-6 hidden-xs">
        <a href="/programa"><i class="ion-ios7-arrow-left"></i></a>
      </div>
    </div>
  </div>

</section>
