<section id="programas">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

          <dl class="dl-horizontal">
          <dt>19H00 |</dt>
          <dd>Visitação Lounges AFW 14</dd><br>
          <dt>19H50 |</dt>
          <dd>Abertura Sala de Desfiles</dd><br>
          <dt>20H00 |</dt>
          <dd>
            <ul class="list-unstyled">
              <li>Alex Kangala</li>
              <li>Antonieta Almeida (São Tomé)</li>
              <li>Analoyd</li>
              <li>Lauds</li>
              <li>Didi</li>
            </ul>
          </dd><br>
          <dt>20H45 |</dt>
          <dd>
            <ul class="list-unstyled">
              <li>Intervalo – Fashion Music</li>
              <li>FiuNegru</li>
              <li>Nivaldo Thierry (Moçambique)</li>
            </ul>
          </dd><br>
          <dt>21H15 |</dt>
          <dd>
            <ul class="list-unstyled">
              <li>NAO.LI.LA</li>
              <li>Mara Ramos</li>
              <li>Zamia</li>
            </ul>
          </dd>
          </dl>

      </div>
      <div class="col-xs-6 hidden-xs">
        <a href="/programa"><i class="ion-ios7-arrow-left"></i></a>
      </div>
    </div>
  </div>

</section>
