<section id="programas">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

          <dl class="dl-horizontal">
            <dt>19H00 |</dt>
            <dd>Visitação Lounges AFW 14</dd><br>
            <dt>19H50 |</dt>
            <dd>Abertura Sala de Desfiles</dd><br>
            <dt>20H00 |</dt>
            <dd>
              <ul class="list-unstyled">
                <li>Dresstation by Roberto Cavalli</li>
                <li>Soraya da Piedade</li>
                <li>Zholla Thomas</li>
                <li>Essanjo Pitra</li>
              </ul>
            </dd><br>
            <dt>21H00 |</dt>
            <dd>Intervalo – Fashion Music</dd><br>
            <dt>21H30 |</dt>
            <dd>
              <ul class="list-unstyled">
                <li>Dudu Bertholini / Neon (Brasil)</li>
                <li>Mahatma’s</li>
                <li>Hava</li>
                <li>Carla Silva</li>
                <li>Nadir Tati</li>
              </ul>
            </dd>
            <dt>23H00 |</dt>
            <dd>
              <ul class="list-unstyled">
                <li>Fashion Party AFW – Encerramento</li>
                <li>DJ GRINGO - Miami <a href="http://djgringo.net/">Site Oficial</a></li>
                <li>DJ MANGALHA - Angola <a href="https://www.facebook.com/DjMangalhaJr">Facebook Oficial</a></li>
                <li></li>
              </ul>
            </dd><br>
          </dl>

      </div>
      <div class="col-xs-6 hidden-xs">
        <a href="/programa"><i class="ion-ios7-arrow-left"></i></a>
      </div>
    </div>
  </div>

</section>
